*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,255);
    overflow: hidden;
}

h3,label{
    user-select: none;
}

h3{
    font-size: 1.25rem;
    margin: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#canvas-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    overflow: scroll;
}

#canvas{
    width: 2048px;
    height: 2048px;
    cursor: crosshair;
    background-image: url("../img/bg-gridnet.png");
}
/* SIDEBAR */

#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(100vw - 100vh);
    background: #999;
    display: block;
    border-left: 3px solid #444;
}

.sidebar-box{
    width: 100%;
    padding-left: 1rem;
}


/* LAYERS */
#layers, #tiles{
    border-bottom: 3px solid #444;
    height: calc(100vh - 23rem);
}

#layers-container{
    overflow: scroll;
    height: calc(100% - 2.25rem);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-flow: row wrap;
}

.layer-child{
    background: #666;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: .2rem;
    -webkit-box-shadow: 0px 0px 0px 2px #666;
    -moz-box-shadow: 0px 0px 0px 2px #666;
    box-shadow: 0px 0px 0px 2px #666;
}

.layer-child:hover{
    outline:none;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
}

.layer-child-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: .2rem;

}

.lrval{
    width: 5em;
    margin-left: 1rem;
    font-size: 1rem;
    user-select: none;
    background: #444;
    border: 0;
    border-radius: .2rem;
    color: white;
    padding-left: .3rem;
}

.lrval:focus{
    outline:none;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
}

.lrbutton{
    width: 45%;
    user-select: none;
    background: #444;
    border: 0;
    border-radius: .2rem;
    color: white;
    padding-left: .3rem;
    cursor: pointer;
}

.lrbutton:hover, .lrbutton:focus{
    outline:none;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
}


/* TILES */

#tiles{
    height: 15rem;
}

#tile-container{
    height: calc(100% - 2.25rem);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    flex-flow: column wrap;
    overflow:scroll;
}

.tiles-child-box{
    background: #888;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: .2rem;
}

.selected-tile{
    background: #666;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
}


/* TOOLS */

#tools{
    height: 8rem;
}

.tool-buttons{
    padding: .5rem;
    font-size: 2rem;
    border: 0;
    outline: 0;
    color: white;
    background: #444;
    cursor: pointer;
    border-radius: .2rem;
}

.tool-buttons:hover{
    outline:none;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
    box-shadow: 0px 0px 0px 2px rgba(26,115,217,1);
}

#snapCheckBox{
    height: 1.5rem;
    width: 1.5rem;
}